<!-- ValidationApp/templates/main/home.html -->

{% extends 'base.html' %}

{% block content %}
  <div class="container mt-5 text-light">
    <h2 class="mb-4">Welcome to Your Home Page</h2>
    <p>Hello, {{ user.username }}!</p>
    <p>This is your home page. Feel free to explore the functionalities!</p>

    <!-- Add more profile information as needed -->
    <dir>
        <h3>Short Bio</h3>
        <p>The Title text displays when I try to download a number of certain apps</p>
        <p> from a reputable third party website (Rolem). Does anyone know what the </p>
        <p>issue would be? I have tried to download on half </p>
    </dir>
  </div>
{% endblock %}
